<footer class="main-footer" style="margin-top: 55px;">
    <strong>Copyright &copy; 2014-2021 <a href="https://selectinsurance.info">SELECT INSURANCE</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 0.1.0
    </div>
</footer>
<script src="app\admin\views\assets\js\bootstrap.bundle.js"></script>
<script src="app\admin\views\assets\js\jquery.js"></script>
<script src="app\admin\views\assets\js\Datatable\Datatable.js"></script>
<script src="app\admin\views\assets\fontawesome-free-5.15.4-web\js\all.min.js"></script>
<script src="app\admin\views\assets\js\funciones.js"></script>

</body>

</html>