<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<footer class="main-footer" style="margin-top: 55px;">
    <strong>Copyright &copy; 2014-2021 <a href="https://selectinsurance.info">SELECT INSURANCE</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 0.1.0
    </div>
</footer>
</div>
<!-- ./wrapper -->

<!--Bootstrap-->
<script src="app\master\views\assets\js\bootstrap.bundle.js"></script>

<!--FontAwesome-->
<script src="app\master\views\assets\fontawesome-free-5.15.4-web\js\all.js"></script>

<!--jquery-->
<script src="app\master\views\assets\js\jquery.js"></script>

<!--Emojis-->
<script src="app\master\views\assets\Emoji\js\config.js"></script>
<script src="app\master\views\assets\Emoji\js\util.js"></script>
<script src="app\master\views\assets\Emoji\js\jquery.emojiarea.js"></script>
<script src="app\master\views\assets\Emoji\js\emoji-picker.js"></script>

<!--Datatable-->
<script type="text/javascript" charset="utf8" src="app\master\views\assets\js\Datatable\Datatable.js"></script>

<!-- AdminLTE-->
<script src="app\master\views\assets\js\AdminLTE\adminlte.min.js"></script>

<!--Select2-->
<script src="app\master\views\assets\js\select2.min.js"></script>

<!--Funciones-->
<script src="app\master\views\assets\js\funciones.js"></script>

</body>

</html>