<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="app\master\views\assets\Emoji\css\emoji.css">
    <link rel="stylesheet" href="app\master\views\assets\fontawesome-free-5.15.4-web\css\all.css">
    <link rel="stylesheet" href="app\master\views\assets\css\bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="app\master\views\assets\css\Datatable\Datatable.css">
    <link rel="stylesheet" href="app\master\views\assets\css\style.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    
    <!--- Select2 -->
    <link rel="stylesheet" href="app\master\views\assets\css\select2.min.css">

    <!--- Admin LTE -->
    <link rel="stylesheet" href="app\master\views\assets\css\AdminLTE\adminlte.min.css">


</head>

<body class="hold-transition sidebar-mini">